<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
	" default-lazy-init="true">
	
	<bean id="contextSource" class="org.springframework.ldap.core.support.LdapContextSource">
		<property name="url" value="${ldap.url}" />
		<property name="userDn" value="${ldap.username}" />
		<property name="password" value="${ldap.password}" />
		<property name="base" value="${ldap.base.dc}" />		
		<property name="referral" value="follow" />
	</bean>	
	
	<bean id="defaultDirContextValidator" class="org.springframework.ldap.pool.validation.DefaultDirContextValidator" />
	
	<!-- poolingContextSource -->
	<bean id="poolingContextSource" class="org.springframework.ldap.pool.factory.PoolingContextSource">
		<!-- 从对象池获取对象时，是否检查有效性 -->
		<property name="testOnBorrow" value="true" />
		<!-- 检测空闲对象时，是否检查有效性 -->
		<property name="testWhileIdle" value="true" />
		<!--  -->
		<property name="maxActive" value="50" />
		<property name="maxTotal" value="100" />
		<property name="maxIdle" value="10" />		
		<property name="minIdle" value="5" />
		<!-- 最大等待时间，毫秒 -->
<!-- 		<property name="maxWait" value="5000" /> -->
		<property name="contextSource" ref="contextSource" />		
		<property name="dirContextValidator" ref="defaultDirContextValidator" />													
	</bean>
	
	<!-- 代理对象 -->
	<bean id="proxyContextSource"
	 class="org.springframework.ldap.transaction.compensating.manager.TransactionAwareContextSourceProxy">
	 	<constructor-arg ref="poolingContextSource" />
	 </bean>
	 
	<bean id="ldapTemplate" class="org.springframework.ldap.core.LdapTemplate">
		<property name="contextSource" ref="proxyContextSource" />
	</bean>
	


</beans>
